services:
  traefik:
    image: docker.io/library/traefik:v3.6.1
    hostname: traefik
    ports:
      # listen on host ports without ingress network
      # If not configured this way, real client IPs will not be visible to Traefik
      # Ref: https://community.traefik.io/t/how-to-obtain-the-real-ip-in-docker-swarm/27443
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_certs:/var/traefik/certs/:rw
    environment:
      - TZ=Europe/Madrid
      - IONOS_API_KEY_FILE=/run/secrets/ionos-api-key # See required format of IONOS_API_KEY in https://go-acme.github.io/lego/dns/ionos/

    configs:
      - source: traefik_config
        target: /etc/traefik/traefik.yaml
      - source: traefik_middlewares
        target: /etc/traefik/files/middlewares.yaml
      - source: traefik_routers
        target: /etc/traefik/files/routers.yaml
      - source: traefik_services
        target: /etc/traefik/files/services.yaml

    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - frontend
    secrets:
      - ionos-api-key
    # Swarm deployment configuration
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.hostname == oci-amd-1

# Volumes
volumes:
  traefik_certs:

# Configurations
configs:
  traefik_config:
    file: ./config/traefik.yaml
  traefik_middlewares:
    file: ./config/files/middlewares.yaml
  traefik_routers:
    file: ./config/files/routers.yaml
  traefik_services:
    file: ./config/files/services.yaml

# Secrets
secrets:
  ionos-api-key:
    file: ./ionos-api-key

# Networks
# External ovelay network created previously in swarm
networks:
  frontend:
    external: true
